IMAGE_TAG=v0.21.1

WEB_DOMAIN=https://${subdomain}.mamamia.com.au
VALID_EMAIL_DOMAINS=mamamia.com.au

AUTH_TYPE=google_oauth
GOOGLE_OAUTH_CLIENT_ID=${google_oauth_client_id}
GOOGLE_OAUTH_CLIENT_SECRET=${google_oauth_client_secret}
SESSION_EXPIRE_TIME_SECONDS=604800

ENABLE_PAID_ENTERPRISE_EDITION_FEATURES=true
ENTERPRISE_EDITION_ENABLED=true
DISABLE_TELEMETRY=true
HF_HUB_DISABLE_TELEMETRY=1

BING_API_KEY=${bing_api_key}

GEN_AI_MODEL_VERSION=claude-3-5-sonnet-latest
FAST_GEN_AI_MODEL_VERSION=claude-3-5-haiku-latest
GEN_AI_API_KEY=${anthropic_api_key}
GEN_AI_MAX_TOKENS=128000
MAX_CHUNKS_FED_TO_CHAT=20

POSTGRES_USER=postgres
POSTGRES_PASSWORD=password